replicaCount: 1

image:
  repository: saketh2406/go-web-app
  pullPolicy: IfNotPresent
  tag: "21489198740"

service:
  type: NodePort
  port: 80
  nodePort: 30329

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
